<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Изменить ' + ${product.name}"></title>
</head>
<body>
<a th:href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; К товару</a>
<h1 th:text="'Изменить '  +  ${product.name}"></h1>

<div th:if="${errors}">
    <ul>
        <li th:each="error: ${errors}" th:text="${error}" style="color: orangered"></li>
    </ul>
</div>
<form method="post" th:action="@{/catalogue/products/{productId}/edit(productId=${product.id})}" >
    <label>Название товара: <br>
        <input type="text" name="name" data-th-value="${payload != null ? payload.name : product.name}">
    </label>

    <br>
    <label>Описание товара: <br>
        <textarea name="description" data-th-text="${payload != null ? payload.description : product.description}"></textarea>
    </label><br>
    <button type="submit">Изменить товар</button>

</form>
</body>
</html>